* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #145A32;
}

.container-game{
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h3 {
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
}

.container h2 {
    font-size: 2.5rem;
}

.container canvas {
    border: 5px solid #0e4626;
}

.gameboard {
    width: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gameboard button {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.pontuacao {
    text-align: center;
}

.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#left { grid-area: 2 / 1 / 3 / 2; }
#up { grid-area: 1 / 2 / 2 / 3; }
#right { grid-area: 2 / 3 / 3 / 4; }
#down { grid-area: 2 / 2 / 3 / 3; }

@media screen and (max-width: 800px) {
    .gameboard {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .container canvas {
        width: 100%;
    }
}